<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<!-- Servlets -->
	<servlet>
		<servlet-name>apiservlet</servlet-name>
		<servlet-class>com.sample.g.server.ApiServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>apiservlet</servlet-name>
		<url-pattern>/put/v1</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteapiservelet</servlet-name>
		<servlet-class>com.sample.g.server.DeleteApiServelet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>deleteapiservelet</servlet-name>
		<url-pattern>/delete/v1</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>retriveapiservlet</servlet-name>
		<servlet-class>com.sample.g.server.RetriveApiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>retriveapiservlet</servlet-name>
		<url-pattern>/get/v1</url-pattern>
	</servlet-mapping>
</web-app>